<!DOCTYPE html>
<html lang="pt" xmlns: th="http://thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>    
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transporte</title>

</head>
<body>

	<p> <a href="/listartransporte"> Listar Transporte </a> </p>

    <form th:action="@{/transporte}" th:object="${transporte}"  method="post">

	<p> <label for="marca"> Marca </label > <input type="text" required  value="" name="marca" /> </p>
	<p> <label for="modedelo"> Modelo </label > <input type="text" required  value="" name="modelo" />  </p>
			   <p> <label for="anonafabrico"> ano de fabrico </label > <input type="number" required  value="" name="anofabrico"/></p>
	  <p> <label for="cor"> Cor </label > <input type="text" required  value="" name="cor"/> </p>
	  <p>  <label for="matricula"> Matricula </label > <input type="text" value="" required  name="matricula" /> </p>
	  	<p> <label for="Cidade"> Cidade </label > <input type="text" value="" required  name="Cidade"/> </p>
		  	<p> <label for="nrmotor"> nr do motor </label > <input type="text" required  value="" name="nrmotor"/>
		  	</p><label for="tipo"> Tipo  </label > <input type="text" value="" required  name="tipo"/> </p>
			 <p> <label for="pesobruto"> Peso bruto </label > <input type="number" required  value="" name="pesobruto"/> </p>
			 <p> <label for="nrportas" > Numero de portas </label> <input type="number" required  name="nrportas"> </p>
			 <p> <label for="lotacao" > Lotacao </label> <input type="number" name="lotacao" required > </p>
			 <p><label for="combustivel">Combustivel</label> <input type="text" name="combustivel" required ></p>
			 <p><label for="quilometrgem">Quilometragem</label> <input type="number" required  name="quilometragem" id=""></p>
	
	 
		<label><b>Associacoes:</b></label>
		
        <select th:field="${transporte.associacao}"required>
            <option value="">Escolha a associacao</option>
      	     <option  th:each="associacao:${associacoes}"
                        th:value="${associacao.codassociacao}"
                    	 th:text="${associacao.nomeassociacao}"> 
            </option>  
        </select>   
	
	
		
			<label><b>Motoristas:</b></label>
        <select th:field="${transporte.motorista}"required>
            <option value="">Escolha o motorista</option>
      	     <option  th:each="motorista:${motoristas}"
                        th:value="${motorista.codigo}"
                    	 th:text="${motorista.nome}"> 
            </option>  
        </select>

			<label><b>Proprietarios:</b></label>
        <select th:field="${transporte.proprietario}"required>
            <option value="">Escolha o proprietario</option>
      	     <option  th:each="proprietario:${proprietarios}"
                        th:value="${proprietario.codproprietario}"
                    	 th:text="${proprietario.nome}"> 
            </option>  
        </select>
        
        	<label><b>Rota:</b></label>
        <select th:field="${transporte.rota}"required>
            <option value="">Escolha uma rota</option>
      	     <option  th:each="rota:${rotas}"
                        th:value="${rota.codrota}"
                    	 th:text="${rota.nomerota}"> 
            </option>  
        </select>
		 
		<p> <input type="submit" value="cadastrar" /> </p>
    </form>
	
    
        
    
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>