<!DOCTYPE html>
<html lang="pt" xmlns: th="http://thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>    
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagem</title>

</head>
<body>

	<p> <a href="/listarviagem"> Listar Viagens </a> </p>
    <form th:action="@{/salvarviagem}" th:object="${viagem}" method="post">

    <p><label for="destino_viagem">Destino</label>
    <input type="text" name="destino_viagem" value=""></p>
    <p><label for="saida">Hora de saida</label>
    <input type="date" name="saida" value=""></p>
     <p><label for="prev_chegada">Previsao de chegada</label>
    <input type="date" name="prev_chegada"  value=""></p>
    
 	<label><b>Transporte:</b></label>
		
        <select th:field="${viagem.transporte}"required>
            <option value="">Escolha o trnapsorte</option>
      	     <option  th:each="transporte:${transportes}"
                        th:value="${transporte.codtransporte}"
                    	 th:text="${transporte.matricula}"> 
            </option>  
        </select>   
        	
		<label><b>Associacoes</b></label>
        <select th:field="${viagem.associacao}"required>
            <option value="">Escolha a associacao</option>
      	     <option  th:each="associacao:${associacoes}"
                        th:value="${associacao.codassociacao}"
                    	 th:text="${associacao.nomeassociacao}"> 
            </option>  
        </select>

	<P><input type="submit" value="cadastrar" /></P>
    </form>
  
    
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>