<!DOCTYPE html>
<html lang="pt" xmlns: th="http://thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Associacao</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	
	<h3> <a href="/cadastrarAssociacao"  class="waves-effect waves-light btn"><i class="material-icons left"></i>Cadastrar Associacao </a> </h3>
		<div>
		 <form th:action="@{/search}"  method="get" >
		 	<input type="text" name="keyword" th:value="${keyword}" placeholder="digite um nome da associacao" />
		 	<input type="submit" value="pesquisar" />
		 	<input type="reset" value="apagar" />
		 </form>	
		</div>	
		</div>
		<table class="container"> 
		<thead>
			<tr> 
			 <th>Nome da associacao </tth>
			 <th> Bairro da associacao </th>
			 <th> Cidade da associacao </td>
			 <th> Email da associacao </td>
			 <th> Contacto da associacao </th>
			   <th>Edit</th>
               <th>Delete</th>
			 </tr>
		</thead>
	<tbody>
	<tr th:each="associacao : ${associacao}" th:field="${associacao}" >
	
		
		<td> <a th:href="${(#mvc.url('AC#detalhesAssociacao').arg(0, associacao.codassociacao)).build()}"> <span th:text=${associacao.nomeassociacao}>  </span>  </a> </td>
		<td> <span th:text=${associacao.bairroassociacao}> </span> </td>
		<td> <span th:text=${associacao.cidadeassociacao}> </span> </td>
		<td> <span th:text=${associacao.emailassociacao}> </span> </td>
		<td> <span th:text=${associacao.contactoassociacao}> </span> </td>
		<td><a th:href="@{/edit/{cod_associacao}(cod_associacao=${associacao.codassociacao})}">Edit</a></td>
       	<td><a th:href="@{/delete/{cod_associacao}(cod_associacao=${associacao.codassociacao})}">Delete</a></td>
		</tr>
		</tbody> 
	</tr>
		</table >
		
		    
    
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>